body{
    margin:0;
    padding:0;
    font-family: montserrat;
    background:url(H.jpg);
    background-size: cover;
    height:98vh;

}
.center{
    position:absolute;
    top:50%;
    left:70%;
    transform:translate(-50%,-100%)
}